
Dreamtale_Sans/ghost/master/yaya_variable.cfg
Dreamtale_Sans/ghost/master/profile/ghost.dat
Dreamtale_Sans/ghost/master/profile/ghost.dat.bak
Dreamtale_Sans/ghost/master/profile/history.dat
Dreamtale_Sans/ghost/master/profile/var.txt
