
ghost/master/descript.txt
ghost/master/profile/ghost.dat
ghost/master/profile/ghost.dat.bak
ghost/master/profile/var.txt
ghost/master/yaya_variable.cfg
shell/\!original/profile/shell.dat
shell/\!original/profile/shell.dat.bak
shell/Nightmare/profile/shell.dat
shell/Nightmare/profile/shell.dat.bak
shell/Dream/profile/shell.dat.bak
shell/Dream//profile/shell.dat.bak
